/* General Navbar Styles */
.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo-container {
    flex-grow: 1;
}

.navbar-logo {
    font-size: 2em;
    color: #ff4500;
    font-weight: bold;
    text-decoration: none;
}

.navbar-nav {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-item {
    position: relative;
    margin-right: 20px;
    /* Add space between nav items */
}

.nav-link,
.logout-button,
.login-link,
.join-button {
    display: flex;
    align-items: center;
    color: #333;
    padding: 5px 10px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}


.nav-link:hover,
.logout-button:hover,
.login-link:hover,
.join-button:hover,
.active-nav-link {
    color: #ff4500;
    /* Change text color to orange on hover and when active */
}


.active-nav-link {
    color: #ff4500;
}

/* Dropdown Styles */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 0;
}

.dropdown-content.show {
    display: block;
}

.dropdown-item {
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    display: block;
}

.dropdown-item:hover {
    background-color: #f9f9f9;
}

.active-dropdown-item {
    color: #ff4500;
}

/* Actions Styles for Login/Logout */
.navbar-actions {
    display: flex;
    align-items: center;
}

.logout-button,
.login-link,
.join-button {
    border: none;
    background-color: transparent;
    color: #333;
    cursor: pointer;
    text-decoration: none;
}

.logout-button:hover,
.login-link:hover,
.join-button:hover {
    color: #ff4500;
}

/* Additional Styles */
/* Add any additional styles you have here */

/* Icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');