/* BasicAddition.css */

.basic-addition-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;

    /* Light green for addition */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    /* Smooth transform transition */
}

.voice-selector-container,
.math-lesson-container {
    margin: 20px;
    padding: 20px;
    background-color: #e7f5ff;
    /* Example: light blue background, similar to exercise-section */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}




/* styles.css */

/* Subtraction Component Styling */
.basic-subtraction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
    background-color: #ffcccb;
    /* Light red for subtraction */
    border-radius: 8px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    /* Smooth transform transition */
}


/* Shapes Component Styling */
.shapes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
    background-color: #add8e6;
    /* Light blue for shapes */
    border-radius: 8px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    /* Smooth transform transition */
}



/* Shared style for lesson titles */
.lesson-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
}

/* Shared style for lesson content */
/* Exercise.css */
.exercise-container {
    margin: 20px;
    padding: 20px;
    background-color: #e7f5ff;
    /* Light blue background */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.problem-statement {
    font-size: 1.25rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.option-button {
    background-color: #94d2bd;
    /* Soft green */
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option-button:hover {
    background-color: #82c9a3;
    /* Slightly darker green on hover */
}

/* MathLesson.css */
.math-lesson-container {
    margin: 20px;
    padding: 20px;
    background-color: #ffddd2;
    /* Soft red background */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.lesson-content {
    font-size: 1rem;
    color: #333;
    margin-bottom: 15px;
    line-height: 1.4;
}

.listen-button {
    background-color: #fecaca;
    /* Soft pink */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.listen-button:hover {
    background-color: #f9a8a8;
    /* Slightly darker pink on hover */
}