@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
  box-sizing: border-box;
  margin: 1;
  padding: 1;
}

.registerbtn {

  color: gray
}

body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #ffffff;
}

a {
  color: #000;
  text-decoration: none;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}