@tailwind base;
@tailwind components;
@tailwind utilities;

/* CTA Button Styles */
.cta-button {
    background-image: linear-gradient(to right,
            rgba(255, 0, 0, 1),
            /* Red */
            rgba(255, 127, 0, 1),
            /* Orange */
            rgba(255, 255, 0, 1)
            /* Yellow */
        );
    border: none;
    color: white;
}

.cta-button:hover,
.cta-button:active {
    background-image: linear-gradient(to right,
            rgba(255, 0, 0, 0.8),
            /* Red */
            rgba(255, 127, 0, 0.8),
            /* Orange */
            rgba(255, 255, 0, 0.8)
            /* Yellow */
        );
    border: none;
}

/* Additional Footer Styling */
.home-footer {
    background-color: #f8f8f8;
    color: #5d5d5d;
    padding: 20px 0;
    text-align: center;
}

.popular-searches span {
    color: #ff4500;
    cursor: pointer;
}

/* Bootstrap Button Styles */
.btn-primary {
    background-color: #ff4500;
    border-color: #ff4500;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #e63900;
    border-color: #e63900;
}